simplified_ui true
pane_frames false
theme "kanagawa"

keybinds {
    unbind "Ctrl n" "Ctrl q" "Ctrl t" 
    unbind "Ctrl h" "Ctrl j" "Ctrl k" "Ctrl l" // Vim motions
    unbind "Ctrl o" "Ctrl g" "Ctrl s" "Ctrl h" "Ctrl p" // Zellij
    unbind "Ctrl h"
    
    normal {
        unbind "Ctrl h"
        unbind "Ctrl s"
        unbind "Ctrl g"
        unbind "Ctrl p"
        unbind "Ctrl o"
        bind "Alt d" { CloseFocus; }
        bind "Alt m" { NextSwapLayout; }
        bind "Alt o" { SwitchToMode "Session"; }
        bind "Alt s" { SwitchToMode "Search"; }
        bind "Alt ," { SwitchToMode "Move"; }
        bind "Alt p" { SwitchToMode "Pane"; }
        bind "Alt g" { SwitchToMode "Locked"; }
        bind "Alt t" { NewTab; }
        bind "Alt f" { ToggleFloatingPanes; }
        //bind "Alt o" { }
    }
}

