simplified_ui true
pane_frames false

keybinds {
    unbind "Ctrl n" "Ctrl q" "Ctrl t" 
    unbind "Ctrl h" "Ctrl j" "Ctrl k" "Ctrl l" // Vim motions
    unbind "Ctrl o" "Ctrl g" "Ctrl s" "Ctrl h" "Ctrl p" // Zellij
    unbind "Ctrl h"
    
    normal {
        unbind "Ctrl h"
        unbind "Ctrl s"
        unbind "Ctrl g"
        unbind "Ctrl p"
        unbind "Ctrl o"
        unbind "Alt g"
        bind "Alt x" { CloseFocus; }
        bind "Alt m" { NextSwapLayout; }
        bind "Alt o" { SwitchToMode "Session"; }
        bind "Alt s" { SwitchToMode "Search"; }
        bind "Alt ," { SwitchToMode "Move"; }
        bind "Alt p" { SwitchToMode "Pane"; }
        bind "Alt g" { SwitchToMode "Locked"; }
        bind "Alt t" { NewTab; }
        bind "Alt f" { ToggleFloatingPanes; }
        bind "Alt u" { HalfPageScrollUp; }
        bind "Alt d" { HalfPageScrollDown; }
    }
}

themes {
    default {
        bg "#77767B"
        fg "#9A9996"
        black "#1D1D1D"
        red "#1D1D1D"
        green "#2EC27E"
        yellow "#D79921"
        blue "#1E78E4"
        magenta "#9A9996"
        cyan "#93DDC2"
        violet "#7D8AC7"
        white "#C0BFBC"
        orange "#FFA348"
    }
}


